a {
  text-decoration: none;
}

.playlist {
  position: relative;
  overflow: hidden;
  padding: 20px;
  // background-color: var(--grass-4);
  outline: 3px solid var(--blue-11);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition:
    outline-offset 0.1s ease,
    outline 0.1s ease,
    transform 0.2s ease,
    margin 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
  margin: var(--space-2xs) var(--space-l);
  padding: var(--space-m) var(--space-l);
  border-radius: var(--radius-xs);
}

.playlist:active {
  transform: scale(0.98);
}

.playlist:hover {
  outline: 7px solid var(--blue-11);
  outline-offset: -4px;
  margin-right: -3rem;
  // margin-left: calc(2 * var(--space-l));
  // margin-right: calc(2 * var(--space-l));
}

.desc-inner {
  display: inline-block;
  // padding-left: 100%;
  will-change: transform;
}

.playlist:hover .desc-inner {
  overflow: visible;
  animation: marquee 3s linear infinite;
  animation-duration: calc(var(--marquee-duration) * 1s);
}

.playlist::after {
  content: attr(data-content);
  font-size: var(--step-6);
  position: absolute;
  bottom: 0%;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: var(--grass-5);
  transform: translateX(0);
  transition:
    transform 0.4s ease,
    color 0.3s ease;
  z-index: 0;
}

.playlist::after:hover {
  color: var(--grass-2);
}

.playlist:hover::after {
  transform: translateX(-40%);
}

.playlist * {
  z-index: 2;
}
