---
const { id } = Astro.params;
import { db } from "astro:db";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";

const luciaUser = Astro.locals.user;
if (!luciaUser) {
  return Astro.redirect("/login");
}

// const artistResults = await db.select().from(Artists_Temp);
---

<BaseLayout title="db:artists" existingUser={Astro.locals.currentUser}>
  <h3>DB: Artists</h3>
  <!-- {
    artistResults.map((artist: { name: string; spotifyId: string }) => (
      <p>
        {artist.name}, id: {artist.spotifyId}
      </p>
    ))
  } -->
</BaseLayout>
