---
const { id } = Astro.params;
import { db, Songs_Temp } from "astro:db";
import BaseLayout from "@layouts/BaseLayout.astro";

const songResults = await db.select().from(Songs_Temp);
---

<BaseLayout title="db:songs" existingUser={Astro.locals.currentUser}>
  <h3>DB: Songs</h3>
  {
    songResults.map((song: { name: string; id: string }) => (
      <p>
        {song.name} {song.id}
      </p>
    ))
  }
</BaseLayout>
