---
const { id } = Astro.params;
import { db, Song_Staging } from "astro:db";
import BaseLayout from "@layouts/BaseLayout.astro";

const songResults = await db.select().from(Song_Staging);
---

<BaseLayout title="db:songs" existingUser={Astro.locals.currentUser}>
  <h3>DB: Songs</h3>
  {
    // songResults.map((song) => (
    // <p>{JSON.stringify(JSON.parse(song.raw_data))}</p>
    // ))
  }
</BaseLayout>
